In [1]:
import numpy as np
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
df_a = pd.read_csv('/content/drive/MyDrive/articles.csv')
row,col=df_a.shape
print(f"rows:{row} columns:{col}")

rows:105542 columns:25

In [3]:
df_c = pd.read_csv('/content/drive/MyDrive/customers.csv')
row,col=df_c.shape
print(f"rows:{row} columns:{col}")

rows:1371980 columns:7

In [ ]:
# df_ss=pd.read_csv('/content/drive/MyDrive/sample_submission.csv')
# row,col=df_ss.shape
# print(f"rows:{row} columns:{col}")

In [4]:
df_train=pd.read_csv('/content/drive/MyDrive/transactions_train.csv')
row,col=df_train.shape
print(f"rows:{row} columns:{col}")

rows:31788324 columns:5

In [5]:
import pandas as pd
df_tt=df_train.head(5000)


# Group customer_id and aggregate article_id
grouped = df_tt.groupby('customer_id')['article_id'].agg(list).reset_index()

result_data = []

# Find shared articles
for index, row in grouped.iterrows():
    customer_id = row['customer_id']
    articles = row['article_id']

    shared_articles = []
    for other_index, other_row in grouped.iterrows():
        if other_row['customer_id'] != customer_id:
            shared = set(articles).intersection(other_row['article_id'])
            if len(shared) > 0:
                shared_articles.extend(list(shared))

    result_data.append({'customer_id': customer_id, 'prediction': shared_articles})
result_df = pd.DataFrame(result_data)

# Submission
print(result_df)
file = open('submission.csv', 'w')
file.write(str(result_df))
file.close()

                                            customer_id  \
0     000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...
1     00007d2de826758b65a93dd24ce629ed66842531df6699...
2     00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4...
3     0008968c0d451dbc5a9968da03196fe20051965edde741...
4     000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...
...                                                 ...
1479  1bd5fd0b45efe91387bcecc3e664a5627e18b0f6edc330...
1480  1bd833fe475d7bb58ce52abdffcfada0a65bcd8375eb2e...
1481  1bdd19c7640df940aa0a5856ba8d0d6e3d2280b838c4ba...
1482  1bdec165ff71bb0b8c7d6bc2a06b6778f7ef840df5dfc8...
1483  1be95d6d39e8e51e7c1467cde795fc4e81ea444e7b9a93...

                                             prediction
0          [541518023, 541518023, 541518023, 541518023]
1     [685687004, 685687001, 685687004, 685687004, 6...
2     [688873012, 688873012, 688873012, 688873020, 6...
3                                                    []
4     [692454002, 685687002, 692454002, 680187001, 6...
...                                                 ...
1479                                                 []
1480                                                 []
1481                  [355569001, 355569001, 355569001]
1482                  [555326010, 555326010, 555326010]
1483                                                 []

[1484 rows x 2 columns]